# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries

*.ilk
*.pdb
*.exe
ex??/ex??
bin

# CMake

CMakeCache.txt
CMakeFiles

#Makefile

cmake_install.cmake
install_manifest.txt

#Latex

*.aux
*.log
*.synctex*
*.fdb_latexmk
*.fls
